amqp
APScheduler
asgiref
billiard
click
click-didyoumean
click-plugins
click-repl
colorama
django
django-autocomplete-light
django-extensions
django-tenants
djangorestframework
djangorestframework-simplejwt
et-xmlfile
joblib
kombu
lxml
MouseInfo
numpy
openpyxl
pandas
pillow
pip
prompt-toolkit
PyAutoGUI
PyGetWindow
PyJWT
PyMsgBox
pyperclip
PyRect
PyScreeze
python-barcode
python-dateutil
pytweening
pytz==2024.1
pyzbar==0.1.9
pyzxing==1.0.2
schedule==1.2.2
six==1.16.0
sqlparse==0.5.0
tzdata==2024.1
tzlocal==5.2
vine==5.1.0
wcwidth