{% extends 'base.html' %}

{% block content %}
<div class="container mt-5">
  <h3 class="display-4 text-center mb-4">Upload de Planilha SAP</h3>

  <!-- Card para o formulário -->
  <div class="card shadow-sm">
    <div class="card-body">
      <!-- Formulário de upload de arquivo Excel -->
      <form method="post" enctype="multipart/form-data">
        {% csrf_token %}

        <!-- Campo de upload com o nome correto conforme a view -->
        <div class="mb-3">
          <label for="id_excel_file" class="form-label">Selecione a base de dados SAP:</label>
          <input type="file" id="id_excel_file" name="excel_file" class="form-control">
        </div>

        <!-- Botão de submit com estilo -->
        <div class="d-flex justify-content-center">
          <button type="submit" class="btn btn-primary btn-lg">Upload</button>
        </div>
      </form>
    </div>
  </div>
</div>
{% endblock %}
