{% extends "base.html" %}

{% block content %}
<div class="container mt-4">
  <h3 class="display-4 text-center">Fechar Preventiva</h3>
  <form method="POST">
    {% csrf_token %}
    <div class="form-group">
      <label for="data_inicio">Data de Início:</label>
      <input type="date" class="form-control" id="data_inicio" name="data_inicio" value="{{ preventiva.data_inicio }}">
    </div>
    <div class="form-group">
      <label for="data_fim">Data de Fim:</label>
      <input type="date" class="form-control" id="data_fim" name="data_fim" value="{{ preventiva.data_fim }}">
    </div>
    <div class="form-group">
      <label for="tempo_execucao">Tempo de Execução (Em Horas):</label>
      <input type="text" class="form-control" id="tempo_execucao" name="tempo_execucao" value="{{ preventiva.tempo_execucao }}">
    </div>
    <div class="form-group">
      <label for="comentarios">Comentários:</label>
      <textarea class="form-control" id="comentarios" name="comentarios">{{ preventiva.comentarios }}</textarea>
    </div>
    <button type="submit" class="btn btn-primary mt-3">Salvar</button>
    <a href="{% url 'tecnicos_list' %}" class="btn btn-secondary mt-3">Voltar</a>
  </form>
  
</div>
{% endblock %}
