{% extends 'base.html' %}

{% block content %}
  <div class="container mt-4">
    <h3 class="display-4 text-center">Técnicos</h3>

    <div class="row mb-3">
      <div class="col-md-12">
        <div class="d-flex flex-wrap">
          <a href="{% url 'tecnicos_create' %}" class="btn btn-primary me-2 mb-2">
            <i class="bi bi-plus"></i> Adicionar Técnico
          </a>
          <a href="{% url 'upload_file' %}" class="btn btn-success me-2 mb-2">
            <i class="bi bi-arrow-up-circle"></i> Upload das Preventivas
          </a>
          <a href="{% url 'preventiva_list' %}" class="btn btn-info me-2 mb-2">
            <i class="bi bi-list"></i> Ver Preventivas
          </a>
        </div>
      </div>
    </div>

    <div class="row">
      {% for tecnico in tecnicos %}
        <div class="col-md-4 mb-4">
          <div class="card">
            <div class="card-body">
              <h5 class="card-title text-center">
                <a href="{% url 'tecnicos_detail' tecnico.pk %}" style="text-decoration: none; color: inherit;">{{ tecnico.nome }}</a>
              </h5>
              <p class="card-text"><strong>Email:</strong> {{ tecnico.email }}</p>
              <p class="card-text"><strong>Centro de Trabalho:</strong> {{ tecnico.centro_trabalho_responsavel }}</p>
              <p class="card-text"><strong>Especialidade:</strong> {{ tecnico.especialidade }}</p>
            </div>
          </div>
        </div>
      {% empty %}
        <p class="text-center">Nenhum técnico cadastrado.</p>
      {% endfor %}
    </div>
  </div>
{% endblock %}
